table {
    width: 600px;
    border-collapse: collapse;
}
td,th {
    border: 1px solid black;
}
th {
    background-color: darkBlue;
    color: white;
}
.selected {
    background-color: lightBlue;
}